<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fehler</title>
</head>
<body>
    <h1>Ups... Da ist etwas schief gelaufen...</h1>
    <p>Bitte prüfe die Eingabe, es wird eine gültige IPv4 Adresse und eine Subnetzmaske erwartet.</p>
    <p><a href="input">Zur Eingabe</a></p>
</body>
</html>